<!--<html lang="en">-->
<!--<head>-->
<!--  <meta charset="UTF-8">-->
<!--  <meta name="viewport" content="width=device-width, initial-scale=1.0">-->
<!--  <meta http-equiv="X-UA-Compatible" content="ie=edge">-->
<!--  <title>Angular 11 Google Social Login - Tutsmake.com</title>-->
<!--</head><body class="bg-light">-->
<div>
  <div>
    <div>
      <h1>Angular 11 Sign In with Google</h1>

      <div>
        <div>
          <button>Sign In With Google</button>
        </div>
      </div>

      <div>
        <div>
          <label for="firstname">First Name</label>
          <input type="text" id="firstname">
        </div>
        <div>
          <label for="lastname">Last Name</label>
          <input type="text" id="lastname">
        </div>
        <div>
          <label for="email2">Email</label>
          <input type="text" id="email2">
        </div>

        <button>Sign Out</button>
      </div>
    </div>
  </div>
</div>
<!--</body>-->
<!--</html>-->
