.item {
  background-color: beige;
}
.item-title {
  grid-area: title;
}
.item-image {
  grid-area: image;
}
.item-ingredients {
  grid-area: ingredients;
}
.item-description {
  grid-area: description;
}
.mat-icon {
  font-size: 18px;
}
.mat-list mat-list-item {
  height: 35px;
}
.container {
  /*background-color: darkcyan;*/
  display: grid;
  place-items: start center;
  /*place-content: space-around space-around;*/
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: 100px 750px  400px;
  grid-template-areas:
    ". . title title title . ."
    ". image image image ingredients ingredients ."
    ". . description description description . .";
  gap: 10px;
}
