<form class="meal-form" autocomplete="off" [formGroup]="mealForm" (ngSubmit)="submitForm()">

  <div class="form-floating">
    <input class="form-control" type="text" id="name" formControlName="name" placeholder="Name" required>
    <label for="name">Name</label>
  </div>
  <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert alert-danger">
    <div *ngIf="name.errors?.['required']">
      Name is required.
    </div>
  </div>

  <div class="form-floating">
    <input class="form-control" type="text" id="imgSource" formControlName="imgSource" placeholder="Meal Image Link" required>
    <label for="imgSource">Meal Image Link</label>
  </div>
  <div *ngIf="imgSource.invalid && (imgSource.dirty || imgSource.touched)" class="alert alert-danger">
    <div *ngIf="imgSource.errors?.['required']">
      Image Link is required.
    </div>
  </div>

  <div class="form-floating">
    <input class="form-control" type="text" id="url" formControlName="url" placeholder="Measurement" required>
    <label for="url">Recipe URL</label>
  </div>
  <div *ngIf="url.invalid && (url.dirty || url.touched)" class="alert alert-danger">
    <div *ngIf="url.errors?.['required']">
      URL is required.
    </div>
  </div>

<!--  <button class="btn btn-primary" type="submit" [disabled]="mealForm.invalid">Add</button>-->
  <button class="btn btn-primary" type="submit">Add</button>
</form>
