h1 {
  text-align: center;
}
.NewMeal {
  text-align: center;
}
.Login {
  text-align: center;
}
.LoginButton {
  width: 100%;
}
.LoginButton > div {
  margin: 0 auto;
}
.Profile {
  text-align: center;
}
#grid {
   width: 90%;
   height: 100%;
}
.mat-card {
  background-color: #f4d6a6;
  color: #A44A3F;
  border-radius: 10px;
}
.mat-card-header {
  display: flex;
  justify-content: center;
  align-items: center;
}
.mat-card-title {
  cursor: pointer;
}
.mat-card img {
  object-fit: cover; /*this makes the image in src fit to the size specified below*/
  width: 100%; /* Here you can use wherever you want to specify the width and also the height of the <img>*/
  height: 100%;
  border-radius: 10px;
}
.img-div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  cursor: pointer;
}
