<div class="Login">
  <div *ngIf="isLoggedin; else loggedOut">
    <h1>Welcome, {{socialUser.firstName}}!</h1>
    <button type="button" (click)="logOut()" class="btn btn-primary">Log Out</button>
  </div>
  <ng-template #loggedOut>
    <h1>Log In to Manage Your Meals!</h1>
  </ng-template>
  <div class="LoginButton" *ngIf="!isLoggedin || isLoggedin === undefined">
    <asl-google-signin-button type="standard" size="large">button</asl-google-signin-button>
  </div>
</div>

<div class="Profile" *ngIf="isLoggedin">
  <div>
    <h1>Your Meals</h1>
  </div>
  <div class="NewMeal">
    <button [routerLink]="['new']">Add a New Meal</button>
  </div>
  <mat-grid-list id="grid" cols="4" rowHeight="400px" gutterSize="45px">
    <mat-grid-tile *ngFor="let meal of meals$ | async | slice:0:32">
      <mat-card>
        <mat-card-header>
          <mat-card-title>
            {{meal.name}}
          </mat-card-title>
        </mat-card-header>
        <div class="img-div">
          <img mat-card-image src='{{meal.imgSource}}'
               (click)="goToLink(meal.url)"
               alt="meal thumbnail">
        </div>
        <mat-card-actions>
          <button mat-button [routerLink]="['edit/', meal._id]">Edit</button>
          <button mat-button (click)="deleteMeal(meal._id || '')">Delete</button>
        </mat-card-actions>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
