<!--<mat-card id="main-card" *ngIf="dataService.fetchComplete">-->
<mat-grid-list id="grid" cols="4" rowHeight="400px" gutterSize="45px">
  <mat-grid-tile *ngFor="let meal of meals$ | async | slice:0:32">
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          {{meal.name}}
        </mat-card-title>
      </mat-card-header>
      <div class="img-div">
        <img mat-card-image src='{{meal.imgSource}}'
             (click)="goToLink(meal.url)"
             alt="meal thumbnail">
      </div>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
<!--</mat-card>-->

<router-outlet (activate)="onActivate()"></router-outlet>
